.RudimentPermutations {
    font-family: monospace;
    list-style: none;
    font-size: 20px;
    padding: 0;
    letter-spacing: 3px;
}
.Permutation {
    padding: 8px 0;
}
.ambidextrous-separator {
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
    width: 70%;
    margin: 0 auto;
    padding: 0;
}
