.RudimentPermutations {
    font-family: monospace;
    list-style: none;
    font-size: 20px;
    padding: 0;
    letter-spacing: 3px;
}

.Permutation {
    padding: 8px 0;
}

/* Just whitespace. */
.ambidextrous-separator {
    height: 32px;
    padding: 0;
    margin: 0;
}
